/*

= variables

$t-sizes: (
  base: 10px 1.5em,
  large: 21px 1em,
  small: 10px
);

$t-sizes_breakpoints: (
  base: (
    sm: 16px
  ),
  large: (
    sm: 16px,
    lg: 50px 2em
  )
);

=/
= require

mx-breakpoint
mx-setFontSize

=/
*/



$t-sizes: () !default;
$t-sizes: map-merge( (base: 16px 1.5em), $t-sizes );

$t-sizes_breakpoints: () !default;

@each $font-size-name, $font-size in $t-sizes {

  .t-size#{$font-size-name} {

    /* base sizes */
    @include set_font_size( $font-size );

    /* any breakpoint modifications */
    @if map-has-key($t-sizes_breakpoints, $font-size-name) {
      @each $bp-name, $font-size in map-get($t-sizes_breakpoints, $font-size-name) {
        @include breakpoint($bp-name) {
          @include set_font_size( $font-size );
        }
      }
    }

  } /* end .t-size */

}