

$u-breakpoints: (
  sm: 768px,
  md: 992px,
  lg: 1200px
);

$t-sizes: (
  base: 10px 1.5em,
  large: 21px 1em,
  small: 10px
);

$t-sizes_breakpoints: (
  base: (
    sm: 16px 1.5em,
    md: 21px
  ),
  large: (
    sm: 16px,
    lg: 50px 2em
  )
);


/* available spacing classes (values in rems) */

$s-down:(
  '': 0.5,
   1: 1,
   2: 2
);


$s-top:(
  '': 0.5,
  1: 1,
  2: 2
);

$s-bottom:(
  '': 0.5,
  1: 1,
  2: 2
);

$s-left:(
  '': 0.5,
  1: 1,
  2: 2
);

$s-right:(
  '': 0.5,
  1: 1,
  2: 2
);

/* do we need extra breakpoint specific space classes? eg md_s-top1 */
$s-down-breakpoints: true;
$s-top-breakpoints: false;
$s-bottom-breakpoints: false;
$s-left-breakpoints: false;
$s-right-breakpoints: false;
