/*


*/



$u-breakpoints: () !default;


.g-content {
  margin-left: auto;
  margin-right: auto;

  @if variable-exists( content-side-padding ) {
    padding-left: $content-side-padding;
    padding-right: $content-side-padding;
    box-sizing: border-box;
  }

  @each $bp-name, $bp-value in $u-breakpoints {

    @include breakpoint($bp-name) {
      width: $bp-value;
    }

  }

}
