
$g-number-of-columns: 12 !default;
$u-breakpoints: () !default;


/* base offset */
@for $i from 1 through $g-number-of-columns {
  .g-offset#{$i} {
    margin-left: percentage( $i / $g-number-of-columns ) - 0.00001;
  }
}

/* loop breakpoints */
@each $bp-name, $bp-value in $u-breakpoints {

  @include breakpoint($bp-name) {
    @for $i from 1 through $g-number-of-columns {
      .#{$bp-name}_g-offset#{$i} {
        margin-left: percentage( $i / $g-number-of-columns ) - 0.00001;
      }
    }
  }

}